In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import os
import pandas as pd

In [4]:
csv_file = os.path.join("data", "ratings.csv")
df = pd.read_csv(csv_file)

In [5]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
df_num_ratings_for_movie = df.groupby("movieId").agg({"userId": len}).rename(columns={"userId": "num_ratings"}).sort_values("num_ratings").reset_index()

In [9]:
df_num_ratings_for_user = df.groupby("userId").agg({"movieId": len}).rename(columns={"movieId": "num_ratings"}).sort_values("num_ratings").reset_index()

We see that there are many movies that have few ratings, as the median number of ratings is three.

In [10]:
df_num_ratings_for_movie.describe()

             movieId   num_movies
count    9724.000000  9724.000000
mean    42245.024373    10.369807
std     52191.137320    22.401005
min         1.000000     1.000000
25%      3245.500000     1.000000
50%      7300.000000     3.000000
75%     76739.250000     9.000000
max    193609.000000   329.000000

In [11]:
df_num_ratings_for_user = (
    df.groupby("userId")
    .agg({"movieId": len})
    .rename(columns={"movieId": "num_ratings"})
    .sort_values("num_ratings")
    .reset_index()
)

We see that every user has rated at least 20 movies.

In [12]:
df_num_ratings_for_user.describe()

           userId  num_ratings
count  610.000000   610.000000
mean   305.500000   165.304918
std    176.236111   269.480584
min      1.000000    20.000000
25%    153.250000    35.000000
50%    305.500000    70.500000
75%    457.750000   168.000000
max    610.000000  2698.000000