In [1]:
%load_ext autoreload 
%autoreload 2

In [61]:
import pandas as pd
import os
from movie_recommender_data.config import get_dev_db_params

In [63]:
params = get_dev_db_params("config.yaml", "config_secret.yaml")

In [5]:
df = pd.read_csv(os.path.join("data", "ratings.csv"))

In [65]:
import psycopg2

conn = psycopg2.connect(
    host=params["host"],
    database=params['database'],
    user=params['user'],
    password=params['password'],
    port = params["port"]
)

In [66]:
conn.set_session(autocommit=True)

In [67]:
cur = conn.cursor()

In [68]:
cur.execute("DROP TABLE IF EXISTS ratings")

In [69]:
cur.execute("CREATE TABLE ratings(Index integer PRIMARY KEY, userId integer, movieId integer, rating real, timestamp bigint)")

In [14]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [33]:
from sqlalchemy import create_engine

In [57]:
engine = create_engine(f'postgresql://{params["user"]}:{params["password"]}@{params["host"]}:{params["port"]}/{params["database"]}', connect_args={"sslmode": 'require'})

In [26]:
print(os.environ.get("CA_FILE_PATH"))

None

In [60]:
df.to_sql(name = "ratings", con=engine, if_exists="replace")

836